.board{
    height: 800px;
    width: 800px;
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
}
.cell{
    height: 100px;
    width: 100px;
}
.black{
    background-color: black;
}